<!-- These should fit on a single line -->

<h1>Hello, world!</h1>
<title>
  {{ title }} | {{ site.title }}
</title>

<!-- These should break -->

<p>If you're seeing this modal after clicking the button on the page, Bootstrap's CSS and JS are both working properly.</p>