---
layout:      layout
title: Home
---


<!-- Hey there! -->

<h1>Hello, world!</h1>
<p>You've successfully loaded up the Bootstrap + Eleventy starter project!</p>
<p>If this button looks blue, you've done it.</p>

<form action="#" method="post">


      <label for="fullname">Full name</label>
      <input type="text" class=" fullname" id="fullname">


      <label for="email">Email address</label>
      <input type="email" name="email" id="email" class="form-control form-control--large form-control--email">

      <button type="submit" class="btn btn-primary">Click me</button>
</form>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <h5 class="modal-title" id="exampleModalLabel">Success!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      <div class="modal-body">
        <p>If you're seeing this modal after clicking the button on the page, Bootstrap's CSS and JS are both working properly.</p>
        <p>Now open your console to confirm that the custom script works</p>
      </div>
</div>

<!-- Optimize and inline JavaScript: https://www.11ty.dev/docs/quicktips/inline-js/ -->
{% block scripts %}
  {% set js %}
    {% include "index.js" %}
  {% endset %}
  {% if site.environment == "production" %}
    <script>
      {{ js | transpile | jsmin | safe }}
    </script>
  {% else %}
    <script>
      {{ js | safe }}
    </script>
  {% endif %}
{% endblock %}
