<title>
  {{ title }} | {{ site.title }}
</title>
<h1>Hello, world!</h1>

<p>If you're seeing this modal after clicking the button on the page, Bootstrap's CSS and JS are both working properly.</p>

<input type="email" name="email" id="email" class="form-control form-control--large form-control--email">

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        Success!
</div>